@model CheckOutViewModel

<form class="container" method="post" asp-controller="CheckOut" asp-action="Index"enctype="multipart/form-data" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h1>Checkout</h1>
    <hr class="line" />
    <h2 class="d-flex justify-content-between">My Order <span> $@Model.Total </span> </h2>
    <hr class="line">
    @foreach (var item in Model.OrderDetails)
    {
        <p class="d-flex justify-content-between">@item.Product.ProductTitle, @item.Product.Size.SizeName, @item.Product.Color.ColorName (123 @item.ArticleNumber) <span> @item.Quantity x $ @item.Price </span> </p>
    }

    <hr class="line" />
    <h2>Shipping Details </h2>
    <p class="d-flex justify-content-between">Shipping to: @Model.ShippingAddress <a href="#"> <i class="fa-solid fa-chevron-right fa-2xs" style="color: #242424;"></i></a></p>
    <hr class="line" />
    <h2>Payment Method </h2>
    <p class="d-flex justify-content-between">Payment method: @Model.PaymentMethod <a href="#"><i class="fa-solid fa-chevron-right fa-2xs" style="color: #242424;"></i> </a></p>
    <hr class="line" />
    <div class="comment-container">
        <label for="textbox">Comment</label>
        <input type="text" id="textbox" placeholder="Enter your comment here" name="textbox">
    </div>
    <button class="btn btn-checkout">Confirm Order</button>
</form>