@using Manero.Models.Entities;
@model CheckOutViewModel

<section class="container">
    <h1>Checkout</h1>
    <hr class="line" />
    <h2 class="d-flex justify-content-between">My Order <span> $@Model.Total </span> </h2>
    <hr class="line">
    @foreach (var item in Model.OrderDetails)
    {
        <p class="d-flex justify-content-between">@item.Product.ProductTitle, @item.Product.Size.SizeName, @item.Product.Color.ColorName (Discount Applied) <span> @item.Quantity x $ @item.Price </span> </p>
    }
    
    <hr class="line" />
    <h2>Shipping Details </h2>
    <p class="d-flex justify-content-between">Shipping to: @Model.ShippingAddress <a href="#"> <i class="fa-solid fa-chevron-right fa-2xs" style="color: #242424;"></i></a></p>
    <hr class="line" />
    <h2>Payment Method </h2>
    <p class="d-flex justify-content-between">Payment method: @Model.PaymentMethod <a href="#"><i class="fa-solid fa-chevron-right fa-2xs" style="color: #242424;"></i> </a></p>
    <hr class="line" />
    <div class="comment-container">
        <label for="textbox">Comment</label>
        <input type="text" id="textbox" placeholder="Enter your comment here" name="textbox">
    </div>
    <div class="btn-container">
    <button class="btn btn-checkout" type="button">Confirm Order</button>
    </div>
</section>