@using Manero.Models.Dtos;
@model ProductProductDetail
@{
    ViewData["Title"] = "Product Details";
}


    <div class="d-xl-flex container p-xl-5 p-0 gap-5">
      <!-- Product Details -->
      <div id="carouselExampleIndicators" class="carousel slide col-xl-6 justify-content-xl-center">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="@Model.Image" class="d-block w-100" alt="..." />
          </div>
        </div>
        <div
          class="d-flex justify-content-center align-items-center border-bottom border-2 border-secondary-emphasis py-4"
        >
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="activeImg active mx-1"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            class="carousel-btn mx-1"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            class="carousel-btn mx-1"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
      </div>

      <div class="container d-flex flex-column col-xl-6 justify-content-xl-around">
        <!-- Product Name & Wishlist icon -->

        <div class="row pb-2 pt-4 align-items-center">
          <div class="col-10">
            <h2>@Model.ProductTitle</h2>
          </div>
          <div class="col-2 text-center">
            <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
          </div>
        </div>

        <!-- Product Rating -->
        <!-- Calculate average rating of all reviews associated with Product and create a loop to display the number of stars -->
        <div class="row align-items-center">
          <div class="col-4 d-flex align-items-center">
            
                @foreach(var review in Model.Reviews)
                {
                    var aggregatedReview =   review.Rating / Model.Reviews.Count();

                    for(decimal i = 0; i < aggregatedReview; i++)
                    {
                        <i class="fa-solid fa-star"></i>
                    }
                }

            <!-- Display total amount of reviews associated with Product -->

            <span class="ps-1">@Model.Reviews.Count()</span>
          </div>

          <div class="col-4 bg-primary"></div>
        </div>

        <!-- Price & Quantity -->

        <div class="row d-flex justify-content-between py-2">
          <div class="col-6 d-flex align-items-center gap-1">
                @if (Model.DiscountedPrice != Model.Price)
                {
                    <h3 class="text-decoration-line-through fs-6">@Model.DiscountedPrice</h3>
                    <h4 class="text-danger">@Model.Price</h4>
                }
                else{
                <h4 class="text-danger">@Model.Price</h4>
                }
          </div>
          <div class="col-6 justify-content-end text-end">
            <button class="btn-product-amount align-content-center">
              <i class="fas fa-minus"></i>
            </button>
            <span class="px-2">1</span>
            <button class="btn-product-amount">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <!-- Product Size -->
        <div class="row">
          <div class="col-4">
            <h6>Size</h6>
          </div>
          <div class="col-12 d-flex justify-content-between pt-sm-2 justify-content-xl-start">
            <button class="product-size">XS</button>
            <button class="product-size">S</button>
            <button class="product-size">M</button>
            <button class="product-size">L</button>
            <button class="product-size">XL</button>
            <button class="product-size">XXL</button>
          </div>
        </div>

        <!-- Product Color -->
        <div class="row align-items-center d-flex pt-4">
          <div class="col-2">
            <h6>Color</h6>
          </div>
          <div class="d-flex col-10 gap-4 align-items-center">
            <button class="product-color" style="background-color: #ff6262"></button>
            <button class="product-color" style="background-color: #63c7ff"></button>
            <button class="product-color" style="background-color: #f8e7cd"></button>
            <button class="product-color" style="background-color: #323858"></button>
            <button class="product-color" style="background-color: #111111"></button>
          </div>
        </div>

        <!-- Product Description -->
        <div class="row pt-4">
          <div class="col-3">
            <h6>Description</h6>
          </div>
          <div>
            <p>
              @Model.Description
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <div class="row">
                        <div class="col-12">
                            <input type="hidden" name="articleNumber" value="@Model.ArticleNumber" />
                            <button type="submit" class="btn-add-cart p-3">Add to cart</button>
                        </div>
                    </div>   
                </form>
          </div>
        </div>
      </div>
    </div>
<!-- Reviews Section -->
<div class="container-xl">
    <div class="row pt-4">
        <div class="col-12 d-flex justify-content-between align-content-center">
            <h2>Reviews (23)</h2>
            <a asp-controller="Products" asp-action="Reviews">View All</a>
        </div>
        <!-- Review #1 -->
        <div class="row border-bottom pt-4">
            <div class="col-2">
                <img class="reviews-img" src="https://picsum.photos/id/1/50/50" />
            </div>
            <div class="col-10">
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <h6>Annette Black</h6>
                        <p class="review-date">23 Jan, 2023</p>
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="">
                    <p>
                        Consequat ut ea dolor aliqua laborum tempor Lorem culpa. Commodo veniam sint est mollit proident
                        commodo.
                    </p>
                </div>
            </div>
        </div>
        <div class="row border-bottom pt-4">
            <div class="col-2">
                <img class="reviews-img" src="https://picsum.photos/id/1/50/50" />
            </div>
            <div class="col-10">
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <h6>Jenny Wilson</h6>
                        <p class="review-date">23 Jan, 2023</p>
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="">
                    <p>
                        Consequat ut ea dolor aliqua laborum tempor Lorem culpa. Commodo veniam sint est mollit proident
                        commodo.
                    </p>
                </div>
            </div>
        </div>
        <div class="row border-bottom pt-4">
            <div class="col-2">
                <img class="reviews-img" src="https://picsum.photos/id/1/50/50" />
            </div>
            <div class="col-10">
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <h6>Jenny Wilson</h6>
                        <p class="review-date">23 Jan, 2023</p>
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="">
                    <p>
                        Consequat ut ea dolor aliqua laborum tempor Lorem culpa. Commodo veniam sint est mollit proident
                        commodo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>